* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Cormorant Unicase', serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: #5C1A7B;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5rem;
    display: block;
    width: 700px;
    height: 10rem;
    margin: auto;
    /* padding: 2rem; */
    z-index: 5;
    position: relative;
}

h2 {
    display: block;
    margin: auto;
    text-align: center;
    color: #6D3288;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    width: 500px;
    height: 6rem;
    padding: 2rem;
    position: relative;
    z-index: 5;
}

header {
    width: 100%;
    height: 12%;
    background: linear-gradient(180deg, #E9D8FF 0%, rgba(233, 216, 255, 0.56) 57.81%, rgba(191, 152, 240, 0.3) 100%);
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

nav ul {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {
    display: inline-block;
}

header a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #000000;
}

main {
    padding-top: 5rem;
    width: 65%;
    margin: auto;
    background: linear-gradient(180deg, #E9DBFB 0%,
     rgba(200, 165, 243, 0.22) 24.96%, 
     rgba(200, 165, 243, 0.67) 45.67%, 
     #E9D8FF 50%, 
     rgba(233, 216, 255, 0.56) 79.81%,
     rgba(191, 152, 240, 0.3) 100%);
}

section {
    padding-top: 5rem;
}

#hands {
    position: absolute;
    margin-top: -5rem;
    margin-left: 0.5rem;    
}

#kozerog {
    position: absolute;
    margin: 0 auto;
    margin-top: 4rem;
}

.options {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    height: 22rem;
    justify-content: space-between;
    padding: 5rem;
    position: relative;
    z-index: 5;
}

.options button {
    height: 5rem;
    border-radius: 20px;
    border: 0px;
    color: #501ca4;
    font-size: 1.8rem;
    background-color: #f6f2fb;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.karmolog {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
    margin: auto;
    background-color: #FFF4FE;
    border-radius: 20px;
    overflow: hidden;
}

.karmolog .text {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text .span-1 {
    color: #5C1A7B;
    font-size: 1.5rem;
    font-weight: 700;
}

.text .span-2 {
    color: #6D3288;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
}

.text .span-3 {
    color: #9F83EC;
    font-size: 1.2rem;
}

#btn-book {
    color: #E9DBFB;
    background-color: #570AB8;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    border-color: #570AB8;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.karmolog figure {
    width: 200px;
}

.contacts-title {
    text-align: center;
    color: #5C1A7B;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 5rem;
    display: block;
    width: 700px;
    height: 5rem;
    margin: auto;
    padding: 2rem;
    z-index: 5;
    position: relative;
}

.map-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map-contacts p {
    font-size: 1.3rem;
    line-height: 4rem;
}

.map-contacts a {
    color: #000000;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 4rem;
}

.map-contacts contacts-info {
    padding: 2rem;
}

.map-contacts figure {
    padding: 2rem;
}

footer {
    background: linear-gradient(180deg, #E2D6F2 0%, rgba(191, 143, 255, 0.24) 100%);
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 0.8rem;
}

footer a {
    text-decoration: none;
}

